/* .App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

br {
  content: " ";
  display: block;
  margin: 0.3em 0;
}

.sep1 {
  height: 10px;
  background-color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sep2 {
  height: 20px;
}

.input_server {
  height: 30px;
  width: 500px;
  font-size: large;
  background-color: lightgray;
  margin-top: 5px;
  margin-bottom: 5px;
}


.input_api {
  width: 420px;
  height: 20px;
}

.pre_auth {
  background-color: black;
  color: greenyellow;
  padding: 15px;
  width: auto;
  word-wrap: break-word;
  white-space:pre-wrap;
}


.pre_response {
  background-color: black;
  color: orange;
  padding: 15px;
  width: auto;
  word-wrap: break-word;
  white-space:pre-wrap;
}


