<html>
  <body>
    <h3 style="text-align: center; color: green">
      <span>Welcome to null!</span>
    </h3>
  </body>
  <img width="128px" height="128px" src="logo.png"/> 
  <div>Entry 1</div>
  <div>Entry 2</div>

  <div>
    <span>1.</span>
    <span>Issue 1</span>
    <span>severity = 4</span>
    <span>desc=</span>
  </div>

  <div>
    <span>2.</span>
    <span>Issue 2</span>
    <span>severity = 4</span>
    <span>desc=</span>
  </div>

  <div>
    <span>3.</span>
    <span>Issue 3</span>
    <span>severity = 4</span>
    <span>desc=</span>
  </div>

  <div>
    <span>4.</span>
    <span>Issue 4</span>
    <span>severity = 4</span>
    <span>desc=</span>
  </div>
</html>
