.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-panel {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #dbdbdb;
  border-bottom: 1px solid #7a7a7a;
}

.main-content {
  display: flex;
  flex: 1;
}

.main-content > div:first-child {
  flex: 1;
}

.property-panel {
  width: 300px;
  padding: 10px;
  background-color: #dbdbdb;
  overflow-y: auto;
}

.property {
  margin-bottom: 5px;
}

.key {
  font-weight: bold;
  margin-right: 5px;
}
