.aircraft-tracker {
  width: 450px;
  background-color: gray;
  font-size: 20px;
}

.aircraft-list {
  border: 1px solid #100;
}

.aircraft-row {
  text-align: left;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}