.react-flow__edge-path {
  stroke-width: 2;
}

.react-flow__edge-text {
  font-family: 'Courier New', monospace;
  font-size: 8px;
  /* font-weight: bold; */  
}


.react-flow__arrowhead {
  fill: #555;
}

.react-flow__handle {
  width: 7px;
  height: 7px;
  border-radius: 0%;
  /* background-color: transparent; */  
  background-color: lightblue
}

.target-handle {
  border: 1px solid #2c292a;
  /* background-color: #2c292a; */
  /* top: -6px;
  left: 25% !important; */
  /* width: 8px;
  height: 8px; */
}

.source-handle {
  border: 1px solid #434d63;
  /* top: -6px; */
}

.react-flow__handle-left.target-handle,
.react-flow__handle-right.target-handle {
  /* left: -6px !important;
  top: 25% !important; */
}

.react-flow__handle-left.source-handle,
.react-flow__handle-right.source-handle {
  /* left: -6px !important; */
}

.react-flow__handle-bottom.target-handle,
.react-flow__handle-bottom.source-handle {
  top: auto !important;
  /* bottom: -6px; */
}

.custom-node-icon {  
  
  width: 32px;
  height: 32px;
  /* object-fit: cover; */
  /* object-fit: contain; */
  margin-right: 10px;
  margin-top: -32px;
}

.custom-node-title {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: -3px;
}

.custom-node-description {
  font-family: 'Helvetica', sans-serif;
  font-size: 12px;
  color: #666;
  text-align: center;
}

.custom-node-description:hover {
  text-decoration: underline;
  color: #1666;
}

.custom-node-tags {
  margin: 0 0 5px 0;
}

.custom-node-tag {
  font-family: 'Helvetica', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  padding: 1px 3px;
  border-radius: 3px;
  font-size: 0.5em;
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 3px;
}

.custom-node-separator {
  height: 1px;
  background-color: #aaa;
  margin: 8px 0;  /* Add margin above and below the separator */
}

.custom-node-counts {
  display: flex;
  flex-direction: column;
  font-size: 9px;
  color: #555;
}

.count-item {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.count-label {
  font-family: 'Helvetica', sans-serif;
  /* font-weight: bold; */
  margin-right: 1px;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.blink {
  animation: blink 1s linear infinite;
}

.count-value {
  font-family: 'Helvetica', sans-serif;
  background-color: #949494;
  color: #fff;
  padding: 1px 4px;
  border-radius: 2px;  
}

.count-value.blink {
  animation: blink 0.5s ease-in-out;
}

.delete-button {
  position: absolute;
  top: -0px;
  right: -0px;
  width: 15px;
  height: 15px;
  background: #a0a0a0;
  border: 0px solid #fff;
  /* border-radius: 50%; */
  font-size: 15px;
  line-height: 1;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 10;
}

.delete-button:hover {
  background: #666666;
}

.panel-title {
  font-family: 'Arial', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  color: #333;
  margin-top: 0;
  margin-bottom: 16px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;  
}

.panel-container {
  width: 300px;
  border-left: 1px solid #ccc;
  padding: 16px;
  background-color: #f8f8f8;
}

.property-key {
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
}

.property-value {
  font-family: 'Courier New', monospace;
  font-size: 10px;
  width: 100%;
  padding: 4px;
  margin-bottom: 12px;
}

.sidebar {
  padding: 10px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-button {
  padding: 8px 12px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-button:hover {
  background-color: #e0e0e0;
}

.sidebar-button.add {
  font-size: 18px;
  font-weight: bold;
}

.file-input {
  display: none;
}

.import-label {
  text-align: center;
}

.icon-selector-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.icon-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 150px;
  overflow-y: auto;
}

.icon-option {
  width: 32px;
  height: 32px;
  object-fit: contain;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 2px;
  border-radius: 4px;
  transition: border-color 0.2s ease;
}

.icon-option.selected {
  border-color: #007bff;
}

.icon-option:hover {
  border-color: #0056b3;
}